main: ./cmd/spartyd
runtime: go113
automatic_scaling:
  max_instances: 1
env_variables:
  SPARTY_AUTH_TOKEN: ""
  SPOTIFY_CLIENT_ID: ""
  SPOTIFY_CLIENT_SECRET: ""
  SPOTIFY_REFRESH_TOKEN: ""
handlers:
  - url: /.*
    script: auto